* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: rgb(59, 42, 71)
}

#c {
    position: absolute;
    z-index: 1;
    background-color: rgb(26, 26, 26);
}

img {
    position:absolute;
    z-index: 0;
    opacity: 0;
}

#ui-menu {
    z-index: 2;
    top: 0px;
    position: absolute; 
    display: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* justify-content: center; */
    /* align-items: center; */
}

#log {

}